@mixin only-pc {
  @media screen and (min-width:#{$pcMin}px) {
    @content;
  }
}
@mixin only-tablet {
  @media screen and (min-width:#{$tabletMin}px) and (max-width:#{$tabletMax}px) {
    @content;
  }
}
@mixin only-mobile {
  @media screen and (max-width:#{$mobileMax}px) {
    @content;
  }
}
@mixin not-pc {
  @media screen and (max-width:#{$tabletMax}px) {
    @content;
  }
}

@mixin edge($width, $height) {
  display: block;
  position: absolute;
  width: #{$width}px;
  height: #{$height}px;
  transition: all 0.35s $transition-ease 0.3s;
  &--1 {
    top: 0;
    right: 0;
    border-top: 1px solid $color-white;
    border-right: 1px solid $color-white;
  }
  &--2 {
    right: 0;
    bottom: 0;
    border-right: 1px solid $color-white;
    border-bottom: 1px solid $color-white;
  }
  &--3 {
    left: 0;
    bottom: 0;
    border-left: 1px solid $color-white;
    border-bottom: 1px solid $color-white;
  }
  &--4 {
    top: 0;
    left: 0;
    border-top: 1px solid $color-white;
    border-left: 1px solid $color-white;
  }
}
