@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'base/reset';
@import 'base/typography';

* {
  box-sizing: border-box;
}

html {
  font-size: 0.05208vw;
  // font-size: calc(100 / #{$pcMax}vw);
  @include only-tablet {
    font-size: 0.09767vw;
    // font-size: calc(100 / #{$tabletMax}vw);
  }
  @include only-mobile {
    font-size: 0.277vw;
    // font-size: calc(100 / #{$mobileMin}vw);
  }
}

html,
body {
  font-family: $font-inconsolata;
  font-weight: 400;
  color: #fff;
  cursor: crosshair;
}
